.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  margin-top: 50px;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 25px;
}
.product:hover {
  padding: 12px;
  background-color: whitesmoke;
}

.product img {
  width: 200px;
  height: 200px;
}

.product button {
  border: none;
  padding: 10px 15px;
  background-color: gray;
  color: white;
  border-radius: 5px;
}
